#textfield{
	height:				20em;
	padding-right:		5%;
	overflow-y:			auto;
}
#timestamp{
	font-size:			0.8em;
}
.userpost{
	float:				left;
	margin-left:		5%;
	clear:				right;
}
.botresponse{
	float:				right;
	margin-right:		5%;
	clear:				left;
}
.chat{
	line-height:		60%;
	font-size:			80%;
	background-color:	dimgrey;
	border-radius:		1em;
	padding:			0 1.5em 0 1.5em;
}